Ejercicios2/bin/Debug
Ejercicios2/bin/Release
Ejercicios2/obj/Debug
Ejercicios2/obj/Release
.vs/Ejercicios2
Ejercicios2/bin/Ejercicios2.dll
Ejercicios2/bin/Ejercicios2.dll.config
Ejercicios2/bin/Ejercicios2.pdb
Ejercicios2/obj
Ejercicios2/tmp